<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artistas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

<div>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CRUD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Listar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container mt-5">

    <a th:href="@{/formcrearartista}" type="button" class="btn btn-primary mb-3">Agregar Artista</a>

    <div style="width:100%;overflow:auto; max-height:375px;">

        <table class="table" id="tabla" style="font-size:14px">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombres</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">Ocupaciones</th>
                <th scope="col">Fallecimiento</th>
                <th scope="col">Editar</th>
                <th scope="col">Agregar Obra</th>
                <th scope="col">Ver Obras</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="atr: ${tableautor}">
                <td th:text="${atr.id}"></td>
                <td th:text="${atr.nombres}" id="nombre"></td>
                <td th:text="${atr.nacimiento}"></td>
                <td th:text="${atr.ocupaciones}"></td>
                <td th:text="${atr.fallecimiento}"></td>
                <td>
                    <a th:href="@{/formeditarautor/{id} (id=${atr.id})}" class="btn btn-warning text-white">Editar</a>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">Agregar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-sm">Ver</button>
                </td>
            </tr>
            </tbody>
        </table>


    </div>

</div>


</body>
</html>