<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artistas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CRUD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Listar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center align-items-center" >

    <style>
        .form-control{
            font-size:12px;
        }
    </style>

    <form id="editform" th:action="@{/createautor}" method="post" style="width:550px; height:565px; margin-top:40px; padding:15px"
          class="border border-primary">

        <input type="hidden" name="id" th:value="${atrupd.id}" th:name="id">

        <div class="mb-4">
            <label for="nombres" class="form-label">Nombres</label>
            <textarea name="nombres" th:text="${atrupd.nombres}" th:name="nombres" class="form-control" rows="3" id="nombres">
            </textarea>
        </div>

        <div class="mb-4">
            <label for="nacimiento" class="form-label">Nacimiento</label>
            <!--<input type="text" name="nacimiento" th:value="${atrupd.nacimiento}" class="form-control" id="nacimiento" required>-->
            <textarea name="nacimiento" th:text="${atrupd.nacimiento}" th:name="nacimiento" class="form-control" rows="3" id="nacimiento">
            </textarea>
        </div>

        <div class="mb-4">
            <label for="ocupaciones" class="form-label">Ocupaciones</label>
            <textarea name="ocupaciones" th:text="${atrupd.ocupaciones}" th:name="ocupaciones" class="form-control" rows="3"  id="ocupaciones">
            </textarea>
        </div>

        <div class="mb-4">
            <label for="fallecimiento" class="form-label">Fallecimiento</label>
            <textarea  name="fallecimiento" th:text="${atrupd.fallecimiento}" th:name="fallecimiento" class="form-control" rows="3" id="fallecimiento" >
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>


</div>

</body>
</html>